.high-temperature {
  color: $red;
}
.low-temperature {
  color: $blue;
}

.card-block {
  p {
    margin: 0;
  }
}

.card {
  width: 200px;
}

.city-name {
  // background: #444;
  // color: #fff;
  padding: 5px;
  margin: 0;
}

.subtitle {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 5px;
  margin: 0 0 20px 0;
}
