body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: $blue;
  color: white;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
  font-size: 2rem;

  h1 {
    font-family: 'Lobster', cursive;
  }
}

.high-temperature {
  color: $red;
}
.low-temperature {
  color: $blue;
}

.card-block {
  p {
    margin: 0;
  }
}

.card {
  width: 250px;
  box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
  border: none;
}

.city-name {
  padding: 5px;
  margin: 0;
}

.subtitle {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 5px;
  margin: 0 0 20px 0;
}
