.high-temperature {
  color: tomato;
}
.low-temperature {
  color: aqua;
}

.card-block {
  p {
    margin: 0;
  }
}

.card {
  width: 200px;
}

.city-name {
  background: #444;
  color: #fff;
  padding: 5px;
}
